<div id="events">
  <h3>Events for <%= @device.name.titlecase %></h3>
  <table class="standard_table">
    <tr><th>ID</th><th>Label</th><th>Time</th><th>Day</th><th></th></tr>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td><%= event.pretty_label %></td>
        <td><%= event.time %></td>
        <td><%= event.date %></td>
        <td><%= link_to image_tag('sound.png', size: '15'), device_event_respeak_path(event_id: event.id), remote: true %></td>
      </tr>
    <% end %>
  </table>
</div>
